// Override this file to add your own SCSS styling.

$text-primary-color: #8c1515;
$body-text-color: #403f3f;






@font-face {
  font-family: 'ss';
  src:  url(../fonts/sourcesanspro-regular-webfont.woff) format('woff'),
        url(../fonts/sourcesanspro-bold-webfont.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "ss", arial, sans-serif;
  color: $body-text-color;
}
.navbar-light, .section-subheading, h1, h2, h3, h4, h5, h6 {
  font-family: "ss", arial, sans-serif;
}


strong {
  font-weight: bold;
  color: #000000;
}

.navbar  {
  background-color: #8c1515;
  font-size: 1rem;
}


.wg-about{

  ul.ul-edu li .description p.institution {
    font-size: 0.75rem;
    //color: $text-primary-color;
    color: #000000;
  }
  .edu-details {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

#research {

}



.short-code-image {
  .img-desc {
    color: grey;
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: 0.85rem;
  }
}



.experience-icon-image {
  width: 80px;
  max-height: 80px;
  max-width: unset;
}

.home-prj-img-icon-wrap {
  /*display: grid;
  place-items: center;*/

  .home-project-icon-image {
    /*max-width: 150px !important;*/
    margin-top: 0.5rem;

  }
}



.home-pubs-section {
  .pub-title {
    font-weight: bold;
  }
}


.site-header-container {
  background-size: cover;
  margin-top: 2px;
  .scrim  {
    padding: 9em 1em !important;

    .site-header {
      text-align: center;
    }
    .title {
      font-size: 3rem;
      color: #fff;
      padding: 1rem 0;
    }
    .subtitle {
      color: #fff;
    }
  }

}
.page-research {
  .research-list-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;

    .card-simple:first-of-type {
      margin-top: 20px !important;
    }
  }

  .section-heading h1 {
    margin: 20px 0 10px 0;
  }
}

.page-papers {
  .pub-type {
    text-transform: uppercase;
  }
  .pub-title {

    font-size: 1.5rem;
    padding: 1rem 0;

  }
  .pub-authors {

    font-size: 0.85rem;
  }
  .pub-journal {
    font-size: 0.85rem;
  }
}


.site-footer {
  margin: 4rem 0 1rem 0;
}



// 手机
@media (max-width: 780px) {

  .wg-about {
    // h1 {
    //  text-align: center;
    //}
  }
  .research-list-wrap {
    grid-template-columns: 1fr !important;
  }

}
